$button-color: #007bff;
$button-hover-color: #0056b3;

body {
  font-family: 'Roboto', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .list-button {
    margin-bottom: 20px;
    a {
      padding: 10px 20px;
      background-color: $button-color;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 700;

      &:hover{
        background-color: $button-hover-color;

      }
    }
    
  }
  .fav-list-container {
    margin-top: 20px;
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 10px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingList{
  .back-button{
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    padding: 15px;
  }
  h1{
    padding-top: 50px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .grid-item {
      border: 1px solid #ccc; 
      padding: 10px;
      text-align: center;
      img {
        max-width: 100%;
      }
      .element-id {
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
      }
      .element-title {
        font-size: 14px;
        margin-bottom: 10px;
      }
      button {
        background-color: $button-color;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $button-hover-color; 
        }
      }
    }
  }
}

